/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2018, 10:29:12 AM
    Author     : mr.Andersen
*/

#BorderPane
{
<<<<<<< HEAD
    -fx-background-image: url(/tictactoeultimategame.Images/space.jpg);
    -fx-background-repeat: stretch;   
    -fx-background-position: center;
}
=======
    -fx-background-image: url("https://i.ytimg.com/vi/aiU22lKiZbA/maxresdefault.jpg");
    -fx-background-size: stretch
}

.button
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: grey;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(grey, #d0d0d0);
    -fx-font-size: 24px;
    -fx-padding: 10 20 10 20;
}
>>>>>>> d34361e8d8bd4678e642289b9086b6c798289dcc
